.treasure {
    width: 15px;
    height: 15px;
    border-radius: 60%;
    position: absolute;
    background-color: #f9e932;
}

.treasure {
    animation: float 2s infinite, glow 2s infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-7px);
    }
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 15px #ff5555;
    }
    50% {
        box-shadow: 0 0 15px #fd8e27;
    }
}

#tre1 {
    left: 420px;
    top: 15px;
}

#tre2 {
    left: 520px;
    top: 15px;
}

#tre3 {
    left: 670px;
    top: 160px ;
}

#tre4 {
    left: 120px;
    top: 260px;
}

#tre5 {
    left: 370px;
    top: 260px;
}

#tre6 {
    left: 270px;
    top: 360px;
}

#tre7 {
    left: 620px;
    top: 360px;
}

#tre8 {
    left: 370px;
    top: 410px;
}

#tre9 {
    left: 670px;
    top: 410px;
}

#tre10 {
    left: 470px;
    top: 610px;
}

#tre11 {
    left: 15px;
    top: 670px;
}

#tre12 {
    left: 170px;
    top: 670px;
}

#tre13 {
    left: 330px;
    top: 670px;
}
